Email Submission
<p><%= link_to @email_submission.title, @email_submission.text %></p>


<li><%= link_to "Show All Submissions", email_submissions_path %></li>
<li><%= link_to "Create New Post", new_email_submission_path %></li>
